@import "tailwindcss";

@theme {
  --color-rose-500: #F43F5E;
  --color-primary: #F43F5E;
  --color-zinc-900: #18181b;
  --color-zinc-800: #27272a;
  --color-background: #000000;
}

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-background text-white antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
}
